@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
  }
  .bounce {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
    70% {
      transform: translateY(0%);
    }
    75% {
      transform: translateY(-15%);
    }
    90% {
      transform: translateY(0%);
    }
    97% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
  }

 
  
}


/* p{
 @apply text-md text-slate-600 font-medium;
} */
